# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
from citipy import citipy
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df=pd.read_csv("Results/Cities.csv")
cities_df

,City Number,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,1.0,Laguna,1.0,1.586895e+09,36.0,38.42,-121.42,25.56,5.10
1,2.0,Bluff,100.0,1.586895e+09,92.0,-46.60,168.33,6.67,1.34
2,3.0,Vaini,40.0,1.586895e+09,88.0,-21.20,-175.20,24.00,2.60
3,4.0,Sault Ste. Marie,90.0,1.586895e+09,79.0,46.52,-84.33,-2.00,4.10
4,5.0,Busselton,67.0,1.586895e+09,61.0,-33.65,115.33,13.89,7.56
...,...,...,...,...,...,...,...,...,...
575,576.0,Churapcha,100.0,1.586895e+09,96.0,62.00,132.43,-4.42,3.21
576,577.0,Oddur,94.0,1.586895e+09,64.0,4.12,43.89,26.48,6.16
577,578.0,Emporia,90.0,1.586895e+09,25.0,38.40,-96.18,11.67,6.20
578,579.0,Manzanillo,18.0,1.586895e+09,55.0,20.34,-77.12,31.06,5.02
579,580.0,Atikokan,100.0,1.586895e+09,78.0,48.76,-91.62,-2.52,4.11

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
locations = cities_df[["Lat", "Lng"]]
humidity= cities_df["Humidity"]

#Alternative to make a bigger figure
fig=gmaps.figure()

# #Display map
# figure_layout={
#     "width": "400px",
#     "height": "300px",
#     "border": "1px solid black",
#     "padding": "1px",
#     "margin": "0 auto 0 auto"}
# fig= gmaps.figure(layout= figure_layout)



# Create heat layer
heat_layer=gmaps.heatmap_layer(locations=locations, weights=humidity, \
                               dissipating=True, max_intensity=100)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
best_cities_df=cities_df.loc[(cities_df["Max Temp"] <=25) & (cities_df["Max Temp"] >=20) &\
                         (cities_df["Cloudiness"] == 0) & (cities_df["Wind Speed"] <10)]
best_cities_df= best_cities_df.reset_index(drop=True)
best_cities_df

,City Number,City,Cloudiness,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,89.0,Umluj,0.0,1.586895e+09,57.0,25.02,37.27,20.84,2.38
1,130.0,Nouadhibou,0.0,1.586895e+09,60.0,20.93,-17.03,21.00,9.30
2,203.0,Tura,0.0,1.586895e+09,51.0,25.52,90.22,23.55,1.99
3,325.0,Xai-Xai,0.0,1.586895e+09,82.0,-25.05,33.64,22.81,3.87
4,344.0,Vallenar,0.0,1.586895e+09,31.0,-28.57,-70.76,23.22,3.48
5,363.0,Pozo Colorado,0.0,1.586895e+09,46.0,-23.49,-58.80,22.13,2.39
6,472.0,Sittwe,0.0,1.586895e+09,86.0,20.15,92.90,24.31,1.85
7,485.0,Aswān,0.0,1.586895e+09,22.0,24.09,32.91,20.29,5.53

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df= pd.DataFrame({
    "Hotel Name":[],
    "City":[],
    "Country":[],
    "Lat":[],
    "Lng":[]
})
hotel_df

Empty DataFrame
Columns: [Hotel Name, City, Country, Lat, Lng]
Index: []

In [6]:
query_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params={
    "location":"",
    "keyword": "hotel",
    "radius": 5000,
    "key": g_key,
}


for index, row in best_cities_df.iterrows():
    name= row["City"]
    coordinates=(f'{row["Lat"]}, {row["Lng"]}')
    params["location"]= coordinates
    print(f'Retrieving results for index {index}: {name}')
    response=requests.get(query_url, params=params).json()
    results=response["results"]
    
    try:
        print(f'The first hotel nearby {name} is {results[0]["name"]}')
        hotel_df.loc[index, "Hotel Name"]= results[0]["name"]
        hotel_df.loc[index, "Lat"]= row["Lat"]
        hotel_df.loc[index, "Lng"]= row["Lng"]
        city=citipy.nearest_city(row["Lat"], row["Lng"])
        hotel_df.loc[index, "City"]=city.city_name.capitalize()
        hotel_df.loc[index, "Country"]= city.country_code.upper()
        
    except (KeyError, IndexError):
        print(f'----Missing field/result for {name}. Skipping----')

hotel_df
# pprint(results[0])
# city=citipy.nearest_city(row["Lat"], row["Lng"])
# city.country_code.upper()

Retrieving results for index 0: Umluj
The first hotel nearby Umluj is عروس الشاطئ للوحدات السكنية المفروشة
Retrieving results for index 1: Nouadhibou
The first hotel nearby Nouadhibou is Free Zone Hotel Nouadhibou
Retrieving results for index 2: Tura
The first hotel nearby Tura is Hotel Polo Orchid
Retrieving results for index 3: Xai-Xai
----Missing field/result for Xai-Xai. Skipping----
Retrieving results for index 4: Vallenar
The first hotel nearby Vallenar is Hotel Solaris
Retrieving results for index 5: Pozo Colorado
The first hotel nearby Pozo Colorado is Hospedaje la Amistad
Retrieving results for index 6: Sittwe
The first hotel nearby Sittwe is Yuzana Aung Hotel
Retrieving results for index 7: Aswān
The first hotel nearby Aswān is Sofitel Legend Old Cataract Aswan

                             Hotel Name           City Country    Lat    Lng
0  عروس الشاطئ للوحدات السكنية المفروشة       Umm lajj      SA  25.02  37.27
1            Free Zone Hotel Nouadhibou     Nouadhibou      MR  20.93 -17.03
2                     Hotel Polo Orchid           Tura      IN  25.52  90.22
4                         Hotel Solaris       Vallenar      CL -28.57 -70.76
5                  Hospedaje la Amistad  Pozo colorado      PY -23.49 -58.80
6                     Yuzana Aung Hotel          Akyab      MM  20.15  92.90
7     Sofitel Legend Old Cataract Aswan          Aswan      EG  24.09  32.91

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

# Add marker layer ontop of heat map
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))